@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Review

<h2>Create a New Review</h2>

@using (Html.BeginForm("InsertReviewToDatabase", "Review", "Post"))
{
    <input asp-for="ReviewID" type="hidden" value="" />

    <label asp-for="ProductID" class="control-label">ProductID</label>
    <input type="text" name="ProductID" class="form-control" value="" />

    <label asp-for="Reviewer" class="control-label">Reviewer</label>
    <input type="text" name="Reviewer" class="form-control" value="" />
    <br/>

    <div class="form-group">
        <label for="Rating">Select a Rating</label>
        <select name="Rating" id="RatingDropdown">
            <option value="1">1 star</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>

        </select>
    </div>


    <label asp-for="Comment" class="control-label">Comment</label>
    <input type="text" name="Comment" class="form-control" value="" />

    <div class="form-group">

        <label for"">Select a Category</label>
        <select class="form-control" name="CategoryID" value="">

            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.CategoryID">@cat.CategoryID @cat.Name</option>
            }
        </select>

    </div>
    <input type="submit" value="Create Review" class="btn btn-primary" />

   

}